@import "../../../var.scss";
.ZegoRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .footer {
    position: fixed;
    bottom: 0px;
    left:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: vw(152px);
    padding: 0 vw(87px);
    background: #1c1f2e;
    a {
      box-sizing: border-box;
      width: vw(76px);
      height: vw(76px);
      background: #2c2f3e;
      border-radius: vw(18px);
    }
    .switchCamera {
      background-image: url(../../../sdkMobileAssets/Room_camera_switch@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .switchCameraBack {
       background-color:  #3D4154;;
    }
    .toggleCamera {
      background-image: url(../../../sdkMobileAssets/Room_camera_open@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .cameraClose {
      background-image: url(../../../sdkMobileAssets/Room_camera_close@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .toggleMic {
      background-image: url(../../../sdkMobileAssets/Room_mic_open@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .micClose {
      background-image: url(../../../sdkMobileAssets/Room_mic_close@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .leaveRoom {
      background-color: rgba(232, 84, 59, 1);
      background-image: url(../../../sdkMobileAssets/Room_leaveRoom@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .more {
      position: relative;
      background-image: url(../../../sdkMobileAssets/Room_more@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);

      .popMore {
        position: absolute;
        right: vw(-20px);
        bottom: vw(106px+25px);
        z-index: 202;
        box-sizing: border-box;
        width: vw(464px);
        height: vw(190px-14px);
        padding: vw(32px) vw(55px) vw(30px) vw(55px);
        background-color: #1c1f2e;
        border: 1px solid #3d4054;
        border-radius: vw(18px);
        box-shadow: 0px vw(3px) vw(6px) 0px rgba(23, 24, 33, 0.35);
        .popMoreContent {
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
              width: vw(76px);
              height: vw(76px);
              margin-bottom: vw(10px);
              background: #2c2f3e;
              border-radius: vw(18px);
            }
            .details {
              background-image: url(../../../sdkMobileAssets/Room_more_details@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: vw(56px) vw(56px);
            }
            .member {
              background-image: url(../../../sdkMobileAssets/Room_more_members@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            .chat {
              background-image: url(../../../sdkMobileAssets/Room_more_chat@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            span {
              color: #ffffff;
              font-weight: 400;
              font-size: 10px;
              font-family: PingFangSC-Regular, PingFang SC;
            }
          }
        }
        .popMoreArray {
          position: absolute;
          right: vw(42px);
          bottom: vw(-10px);
          z-index: -1;
          width: vw(20px);
          height: vw(20px);
          background-color: #1c1f2e;
          transform: rotate(45deg);
        }
      }
    }
  }
  .notify {
    position: fixed;
    bottom: vw(146px);
    left: vw(24px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: vw(499px);
    background-color: #1c1f2e00;
    .notifyContent {
      margin-bottom: vw(20px);
      padding: vw(20px) vw(24px) vw(16px) vw(24px);
      font-weight: 400;
      font-family: PingFangSC-Regular, PingFang SC;
      background-color: rgba(42, 42, 42, 0.5);
      border-radius: vw(18px);
      h5 {
        color: #ffb763;
        font-size: vw(24px);
        line-height: vw(33px);
      }
      span {
        display: -webkit-box;
        height: auto;
        overflow: hidden;
        color: #ffffff;
        font-size: vw(28px);
        line-height: vw(40px);
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}
