@import "../../../var.scss";
.ZegoRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: vw(122px);
    padding: 0 vw(53px);
    background: #1c1f2e;
    border: 1px solid #3d4054;
    a {
      box-sizing: border-box;
      width: vw(76px);
      height: vw(76px);
      background: #2c2f3e;
      border-radius: vw(18px);
    }
    .switchCamera {
      background-image: url(../../../sdkMobileAssets/Room_camera_switch@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .switchCameraBack {
      background-color: #3d4154;
    }
    .toggleCamera {
      background-image: url(../../../sdkMobileAssets/Room_camera_open@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .cameraClose {
      background-image: url(../../../sdkMobileAssets/Room_camera_close@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .toggleMic {
      background-image: url(../../../sdkMobileAssets/Room_mic_open@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .micClose {
      background-image: url(../../../sdkMobileAssets/Room_mic_close@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .leaveRoom {
      background-color: rgba(232, 84, 59, 1);
      background-image: url(../../../sdkMobileAssets/Room_leaveRoom@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .liveLeaveButton {
      background-image: url(../../../sdkMobileAssets/Room_leaveRoom_live@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);
    }
    .goLive {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(120px);
      color: #ffffff;
      font-weight: 500;
      font-size: vw(24px);
      line-height: vw(33px);
      background: #0055ff;
      border-radius: vw(18px);
    }
    .goLiveEnabled {
      background-color: rgba(255, 74, 80, 1);
    }

    .more {
      position: relative;
      background-image: url(../../../sdkMobileAssets/Room_more@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(56px) vw(56px);

      .popMore {
        position: fixed;
        right: vw(67px);
        bottom: vw(122px + 14px);
        z-index: 202;
        box-sizing: border-box;

        padding: vw(32px) vw(55px) vw(41px - 7px) vw(55px);
        background-color: #1c1f2e;
        border: 1px solid #3d4054;
        border-radius: vw(18px);
        box-shadow: 0px vw(3px) vw(6px) 0px rgba(23, 24, 33, 0.35);
        // transform: translateX(-50%);
        .popMoreContent {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: max-content;
          max-width: vw(503px);
          div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: vw(76px);
            height: vw(76px + 38px);
            margin-right: vw(63px);
            margin-bottom: vw(0px);
            white-space: nowrap;
            i {
              width: vw(76px);
              height: vw(76px);
              // margin-bottom: vw(10px);
              background: #2c2f3e;
              border-radius: vw(18px);
            }
            .details {
              background-image: url(../../../sdkMobileAssets/Room_more_details@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: vw(56px) vw(56px);
            }
            .member {
              background-image: url(../../../sdkMobileAssets/Room_more_members@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            .chat {
              background-image: url(../../../sdkMobileAssets/Room_more_chat@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            .layout {
              background-image: url(../../../sdkMobileAssets/Room_more_layout@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            .switchCamera {
              background-image: url(../../../sdkMobileAssets/Room_camera_switch@2x.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-size: vw(56px) vw(56px);
            }
            span {
              position: absolute;
              bottom: 0;
              color: #ffffff;
              font-weight: 400;
              font-size: 10px;
              //   font-family: PingFangSC-Regular, PingFang SC;
            }
          }
          div:nth-child(4) {
            margin-right: 0;
          }
          div:nth-child(5) {
            margin-top: vw(27px);
          }
          div:last-child {
            margin-right: 0;
          }
          // .roomDetail {
          //   // margin-right: vw(35px);
          // }
        }
      }

      .popMoreArray {
        position: absolute;
        right: vw(24px);
        bottom: vw(102px);
        z-index: 202;
        width: vw(20px);
        height: vw(20px);
        background-color: #1c1f2e;
        border-right: 1px solid #3d4054;
        border-bottom: 1px solid #3d4054;
        box-shadow: 0px vw(3px) vw(6px) 0px rgba(23, 24, 33, 0.35);
        transform: rotate(45deg);
      }
    }
  }
  .notify {
    position: fixed;
    bottom: vw(146px);
    left: vw(24px);
    z-index: 201;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: vw(499px);
    background-color: #1c1f2e00;
    .notifyContent {
      margin-bottom: vw(20px);
      padding: vw(20px) vw(24px) vw(16px) vw(24px);
      font-weight: 400;
      //   font-family: PingFangSC-Regular, PingFang SC;
      background-color: rgba(42, 42, 42, 0.5);
      border-radius: vw(18px);
      h5 {
        color: #ffb763;
        font-size: vw(24px);
        line-height: vw(33px);
      }
      span {
        display: -webkit-box;
        height: auto;
        overflow: hidden;
        color: #ffffff;
        font-size: vw(28px);
        line-height: vw(40px);
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
  .network {
    position: absolute;
    top: vw(28px);
    left: vw(24px);
    z-index: 20;
    width: vw(60px);
    height: vw(60px);
    background: rgba(42, 42, 42, 0.25);
    background: url("../../../sdkAssets/icon_inner_network_poor.png") no-repeat
        center,
      rgba(42, 42, 42, 0.25);
    background-size: vw(46px) vw(46px);
    border-radius: vw(15px);
    backdrop-filter: blur(vw(15px));
  }
  .countDown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: rgba(42, 42, 42, 0.6);
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(160px);
      height: vw(160px);
      color: #2a2a2a;
      font-weight: 600;
      font-size: vw(60px);
      line-height: vw(84px);
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: vw(80px);
    }
  }
  .LiveStateButton {
    position: fixed;
    right: vw(27px);
    bottom: vw(152px);
    width: vw(113px);
    height: vw(60px);
    color: #ffffff;
    font-weight: 600;
    font-size: vw(26px);
    line-height: vw(37px);
    background: rgba(70, 70, 70, 0.6);
    border: 0;
    border-radius: vw(36px);
  }
  .liveNotStart,
  .noOneStreaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #dfe0e2;
    font-weight: 500;
    font-size: vw(32px);
    line-height: vw(45px);
    background: #1e2130;
    i {
      width: vw(90px);
      height: vw(90px);
      background-size: contain;
    }
    span {
      width: 70%;
      text-align: center;
    }
  }
  .liveNotStart {
    i {
      background-image: url(../../../sdkAssets/Room_live_notstart@2x.png);
    }
  }
  .noOneStreaming {
    i {
      background-image: url(../../../sdkAssets/Room_nobody_stream@2x.png);
    }
  }
  .screenTopBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: vw(68px);
    background: #353847;
    p {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 400;
      font-size: vw(28px);
      line-height: vw(40px);
    }
    span {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(16px);
      margin-left: vw(24px);
      font-weight: 600;
      font-size: vw(20px);
      line-height: vw(42px);
      text-align: center;
      background: rgba($color: #fff, $alpha: 0.1);
      border-radius: 50%;
    }
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 202;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
