@import "../../../../var.scss";

@keyframes myRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes myRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  top: vw(585px);
  left: vw(290px);
  z-index: 103;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: vw(170px);
  height: vw(170px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: vw(18px);
  .loading {
    box-sizing: border-box;
    width: vw(66px);
    height: vw(66px);
    background-image: url(../../../../sdkMobileAssets/reconnect_loading@2x.png);
    background-size: contain;
    -webkit-animation: myRotate 1s linear infinite;
    animation: myRotate 1s linear infinite; /*Safari and Chrome*/
  }
  p {
    margin-top: vw(16px);
    color: #ffffff;
    font-weight: 600;
    font-size: vw(28px);
    line-height: vw(40px);
  }
}
