.whiteTheme {
  --bgColor: #ffffff;
  --borderColor: #dde0e3;
  --lineColor: #edeff3;
  --titleColor: #2a2a2a;
  --tabTextColor: #333333;
  --activeColor: #0055ff;
}
.frame {
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 9999;
}
.noFrame {
  display: none;
}
.body {
  width: 478px;
  height: 346px;
  background: var(--bgColor);
  box-shadow: 0px 3px 6px 0px rgba(79, 79, 83, 0.2);
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.header {
  height: 44px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--lineColor);
  font-size: 14px;
  font-weight: 600;
  color: var(--titleColor);
  line-height: 16px;
  flex: 0 0 auto;
}
.closeIcon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url("../../../sdkAssets/icon_settings_close.png") no-repeat
    center/cover;
}
.content {
  flex: 1;
  display: flex;
  height: 100%;
}
.left {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 118px;
  height: 100%;
  padding-top: 18px;
  border-right: 1px solid var(--lineColor);
  & > div {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--tabTextColor);
    line-height: 20px;
    margin-bottom: 6px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
  }
  .tabActive {
    color: var(--activeColor);
    &::after {
      content: "";
      width: 2px;
      height: 16px;
      background-color: var(--activeColor);
      position: absolute;
      right: 0;
      top: 10px;
    }
    &.leftAudioTab::before {
      background: url("../../../sdkAssets/icon_settings_audio_active.png")
        no-repeat center/cover;
    }
    &.leftVideoTab::before {
      background: url("../../../sdkAssets/icon_settings_video_active.png")
        no-repeat center/cover;
    }
  }
}

.leftAudioTab::before {
  background: url("../../../sdkAssets/icon_settings_audio.png") no-repeat
    center/cover;
}
.leftVideoTab::before {
  background: url("../../../sdkAssets/icon_settings_video.png") no-repeat
    center/cover;
}
.right {
  flex: 1;
}
.rightAudio,
.rightVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 18px 48px 0;
}
.preview {
  flex: 1;
  video {
    height: 30vh;
    background-color: black;
  }
}
