@import "../../../var.scss";

.rejoinRoomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(28, 31, 46, 1);
  .title {
    width: vw(440px);
    height: vw(50px);
    color: #ffffff;
    font-weight: 500;
    font-size: vw(36px);
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: vw(50px);
    background-color: rgba(28, 31, 46, 0);
    border: 0;
  }
  .rejoin,
  .returnHome {
    width: vw(440px);
    height: vw(94px);

    font-weight: 500;
    font-size: vw(32px);
    font-family: PingFangSC-Semibold, PingFang SC;
    line-height: vw(45px);

    border: 0;
    border-radius: vw(18px);
    cursor: pointer;
  }
  .rejoin {
    margin-top: vw(64px);
    margin-bottom: vw(36px);
    color: #ffffff;
    background: rgba(0, 85, 255, 1);
  }
  .returnHome {
    color: rgba(0, 85, 255, 1);
    background: #ffffff;
  }
}

.isPC {
  width: 100%;
  height: 100%;
  .title {
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    line-height: 37px;
  }
  .rejoin,
  .returnHome {
    width: 206px;
    height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    border: 0;
    border-radius: 10px;
  }
  .rejoin {
    margin-top: 30px;
    margin-bottom: 22px;
  }
}
