.ZegoRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 826px;
  height: 100%;
  min-height: 280px;
  background: #1c1f2e;
}
@media screen and (min-width: 826px) {
  .ZegoRoom {
    overflow-x: hidden;
  }
}
@media screen and (min-height: 280px) {
  .ZegoRoom {
    overflow-y: hidden;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  background-color: #1c1f2e;
  .logo {
    width: 182px;
    height: 37px;
    object-fit: contain;
  }
  .timer {
    margin-right: 20px;
  }
}
.content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 10px;
  overflow: hidden;
}
.contentLeft {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  background-color: #1c1f2e;
  border-radius: 19px;
}
.network {
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 20;
  width: 32px;
  height: 32px;
  background: url("../../../sdkAssets/icon_inner_network_poor.png") no-repeat
      center,
    rgba(42, 42, 42, 0.25);
  background-size: 24px 24px;

  border-radius: 4px;
  backdrop-filter: blur(8px);
}
.reconnect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #2a2a2a, $alpha: 0.6);
  & > div {
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
    background: url("../../../sdkAssets/icon_network_reconnect.png") no-repeat
      center/cover;
    animation: netLoading 2s linear infinite;
  }
  & > p {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
@keyframes netLoading {
  100% {
    transform: rotate(360deg);
  }
}
.contentRight {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: 10px;
  background: #242736;
  border-radius: 19px;
  transition: all 0.3s ease;
}
.listHeader {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px 0 16px;
  padding-left: 40px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #3d4054;
}
.listHeaderClose {
  width: 18px;
  height: 18px;
  background: url("../../../sdkAssets/icon_inner_right_close.png") no-repeat
    center/cover;
  cursor: pointer;
  &:hover {
    background: url("../../../sdkAssets/icon_inner_right_close_hover.png")
      no-repeat center/cover;
  }
}
.listContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.inviteLinkWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 0;
  .title {
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .inviteLink {
    box-sizing: border-box;
    width: 308px;
    height: 44px;
    padding: 12px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(48, 51, 65, 1);
    border: 0;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
  }
  .copyLinkButton {
    display: flex;
    align-items: center;
    margin-top: 14px;
    color: #ffb763;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &::before {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background: url("../../../sdkAssets/icon_inner_copy.png") no-repeat
        center/cover;
      content: "";
    }
  }
}
.memberListWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  .member {
    display: flex;
    align-items: center;
    padding: 8px 0;
    & > span {
      flex: 0 0 auto;
      width: 36px;
      height: 36px;
      margin-right: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }
    & > p {
      width: 260px;
      overflow: hidden;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.listFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 74px;
  padding: 0 30px;
  background: #1e2130;
}
@mixin toolButton {
  width: 42px;
  height: 42px;
  background-color: #2c2f3e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #3d4154;
  }
}

.handlerMiddle {
  display: flex;
  flex: 1;
  justify-content: center;
  & > div {
    @include toolButton;
    margin: 0 10px;
  }
  .leaveButton {
    width: 82px;
    background-color: #e8543b;
    background-image: url("../../../sdkAssets/icon_inner_leave.png");
    &:hover {
      background-color: #ff5d42;
    }
  }
}
.handlerRight {
  display: flex;
  justify-content: center;
  & > div {
    @include toolButton;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
.inviteButton {
  @include toolButton;
  margin-right: 62px;
  background-image: url("../../../sdkAssets/icon_inner_share.png");
}
.micButton {
  background-image: url("../../../sdkAssets/icon_inner_mic.png");
  &.close {
    background-image: url("../../../sdkAssets/icon_inner_mic_close.png");
  }
}
.cameraButton {
  background-image: url("../../../sdkAssets/icon_inner_camera.png");
  &.close {
    background-image: url("../../../sdkAssets/icon_inner_camera_close.png");
  }
}
.moreButton {
  position: relative;
  background-image: url("../../../sdkAssets/icon_inner_more.png");
}
.memberButton {
  position: relative;
  background-image: url("../../../sdkAssets/icon_inner_member.png");
  .memberNum {
    position: absolute;
    top: -10px;
    right: -12px;
    display: block;
    width: 26px;
    height: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background: #0055ff;
    border: 1px solid #1c1f2e;
    border-radius: 10px;
  }
}
.msgButton {
  background-image: url("../../../sdkAssets/icon_inner_message.png");
}
.settingsButtonModel {
  position: absolute;
  bottom: 58px;
  left: 50%;
  box-sizing: border-box;
  width: 178px;
  padding: 12px 6px;
  background: #2c2f3e;
  border: 1px solid #3d4054;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(23, 24, 33, 0.75);
  transform: translateX(-50%);
  & > div {
    padding: 7px 14px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #36394b;
    }
  }
  & > span {
    display: block;
    width: 166px;
    height: 1px;
    margin: 8px 0;
    background: #3d4054;
  }
  &::after {
    position: absolute;
    bottom: -7px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: #2c2f3e;
    border-bottom: 1px solid #3d4054;
    border-left: 1px solid #3d4054;
    transform: rotateZ(-45deg);
    content: "";
  }
}
.notify {
  position: absolute;
  bottom: 24px;
  left: 14px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  .notifyContent {
    box-sizing: border-box;
    max-width: 408px;
    max-height: 124px;
    padding: 10px 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: rgba(42, 42, 42, 0.5);
    border-radius: 8px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    h5 {
      max-width: 384px;
      margin-bottom: 4px;
      overflow: hidden;
      color: #ffb763;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & > span {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    .nowrap {
      word-wrap: break-word;
    }
  }
}
