.ZegoRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 826px;
  height: 100%;
  min-height: 280px;
  background: #1c1f2e;
}
@media screen and (min-width: 826px) {
  .ZegoRoom {
    overflow-x: hidden;
  }
}
@media screen and (min-height: 280px) {
  .ZegoRoom {
    overflow-y: hidden;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  background-color: #1c1f2e;
  .headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 154px;
      height: 32px;
      object-fit: contain;
    }
    .liveState {
      margin-left: 3px;
      padding: 2px 11px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      background: #313443;
      border-radius: 12px;
    }
  }

  .goLive {
    height: 36px;
    margin-right: 30px;
    padding: 8px 16.5px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #0055ff;
    border: 0;
    border-radius: 10px;
  }
  .goLiveEnabled {
    background: #ff4a50;
  }
  .timer {
    margin-right: 20px;
  }
}
.content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 10px;
  overflow: hidden;
}
.contentLeft {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  background-color: #1c1f2e;
  border-radius: 19px;
}
.network {
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 20;
  width: 32px;
  height: 32px;
  background: url("../../../sdkAssets/icon_inner_network_poor.png") no-repeat
      center,
    rgba(42, 42, 42, 0.25);
  background-size: 24px 24px;

  border-radius: 4px;
  backdrop-filter: blur(8px);
}
.reconnect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #2a2a2a, $alpha: 0.6);
  & > div {
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
    background: url("../../../sdkAssets/icon_network_reconnect.png") no-repeat
      center/cover;
    animation: netLoading 2s linear infinite;
  }
  & > p {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
.countDown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #2a2a2a, $alpha: 0.6);
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 146px;
    color: #2a2a2a;
    font-weight: 600;
    font-size: 60px;
    line-height: 84px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 73px;
  }
}
@keyframes netLoading {
  100% {
    transform: rotate(360deg);
  }
}
.contentRight {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: 10px;
  background: #242736;
  border-radius: 19px;
  transition: all 0.3s ease;
}
.listHeader {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 50px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #3d4054;
}
.listHeaderClose {
  width: 18px;
  height: 18px;
  background: url("../../../sdkAssets/icon_inner_right_close.png") no-repeat
    center/cover;
  cursor: pointer;
  &:hover {
    background: url("../../../sdkAssets/icon_inner_right_close_hover.png")
      no-repeat center/cover;
  }
}
.listContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3d4054;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.listFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 74px;
  padding: 0 30px;
  background: #1e2130;
}
@mixin toolButton {
  width: 42px;
  height: 42px;
  background-color: #313443;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #404352;
  }
}

.handlerMiddle {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  & > div {
    @include toolButton;
    margin: 0 10px;
  }
  .leaveButton {
    width: 82px;
    background-color: #e8543b;
    background-image: url("../../../sdkAssets/icon_inner_leave.png");
    &:hover {
      background-color: #ff5d42;
    }
  }
  .liveLeaveButton {
    width: 42px;
    height: 42px;
    background-color: #2c2f3e;
    background-image: url("../../../sdkAssets/live_inner_leave@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #3d4154;
    }
  }
}
.handlerRight {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  & > div {
    @include toolButton;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
.inviteButton {
  @include toolButton;
  margin-right: 62px;
  background-image: url("../../../sdkAssets/icon_inner_share.png");
}
.micButton {
  background-image: url("../../../sdkAssets/icon_inner_mic.png");
  &.close {
    background-image: url("../../../sdkAssets/icon_inner_mic_close.png");
  }
}
.cameraButton {
  background-image: url("../../../sdkAssets/icon_inner_camera.png");
  &.close {
    background-image: url("../../../sdkAssets/icon_inner_camera_close.png");
  }
}
.screenButton {
  background-image: url("../../../sdkAssets/icon_inner_screen.png");
  &.sharing {
    background-image: url("../../../sdkAssets/icon_inner_screen_close.png");
  }
}
.moreButton {
  position: relative;
  background-image: url("../../../sdkAssets/icon_inner_more.png");
}
.memberButton {
  position: relative;
  background-image: url("../../../sdkAssets/icon_inner_member.png");
  .memberNum {
    position: absolute;
    top: -10px;
    right: -12px;
    display: block;
    width: 26px;
    height: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background: #0055ff;
    border: 1px solid #1c1f2e;
    border-radius: 10px;
  }
}
.msgButton {
  background-image: url("../../../sdkAssets/icon_inner_message.png");
}
.settingsButtonModel {
  position: absolute;
  bottom: 58px;
  left: 50%;
  z-index: 10;
  box-sizing: border-box;
  width: 155px;
  padding: 12px 6px 16px;
  background: #2c2f3e;
  border: 1px solid #3d4054;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(23, 24, 33, 0.75);
  transform: translateX(-50%);
  & > div {
    padding: 7px 14px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -1px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #36394b;
    }
  }
  & > span {
    display: block;
    width: 141px;
    height: 1px;
    margin: 8px 0;
    background: #3d4054;
  }
  &::after {
    position: absolute;
    bottom: -7px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: #2c2f3e;
    border-bottom: 1px solid #3d4054;
    border-left: 1px solid #3d4054;
    transform: rotateZ(-45deg);
    content: "";
  }
}
.notify {
  position: absolute;
  bottom: 24px;
  left: 14px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  .notifyContent {
    box-sizing: border-box;
    max-width: 408px;
    max-height: 124px;
    padding: 10px 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: rgba(42, 42, 42, 0.5);
    border-radius: 8px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    h5 {
      max-width: 384px;
      margin-bottom: 4px;
      overflow: hidden;
      color: #ffb763;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & > span {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    .nowrap {
      word-wrap: break-word;
    }
  }
}

.layoutSettingsMask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .layoutSettingsWrapper {
    width: 283px;
    background: #2c2f3e;
    border: 1px solid #3d4054;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 0px rgba(23, 24, 33, 0.75);
  }
  .layoutSettingsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #3d4054;
  }
  .layoutSettingsCloseIcon {
    width: 18px;
    height: 18px;
    background: url("../../../sdkAssets/icon_settings_close.png") no-repeat
      center/cover;
    cursor: pointer;
  }
  .layoutSettingsContent {
    padding: 10px 0;
  }
  .layoutSettingsItemRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 62px;
    padding: 9px 24px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
    p {
      display: flex;
      align-items: center;
    }
    .layoutSettingsItemIcon {
      width: 16px;
      height: 16px;
      margin-right: 15px;
      background-image: url("../../../sdkAssets/icon_choose_nor@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .layoutSettingsItemChecked {
      background-image: url("../../../sdkAssets/icon_choose_pre@2x.png");
    }
    .layoutSettingsItemLoading {
      background-image: url("../../../sdkAssets/icon_loading@2x.png");
      animation: layoutLoading 1.8s linear infinite;
    }
    img {
      width: 62px;
      height: 44px;
    }
  }
}
@keyframes layoutLoading {
  100% {
    transform: rotateZ(360deg);
  }
}
.screenBottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 0 16px;
  background: #353847;
  .screenBottomBarLeft {
    display: flex;
    align-items: center;

    span {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      background: url("../../../sdkAssets/icon_inner_screen.png") no-repeat
        center/cover;
    }
    p {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .screenBottomBarRight {
    color: #ff4a50;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
  }
}

.liveNotStart,
.noOneStreaming {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #dfe0e2;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  background: #1e2130;
  i {
    width: 76px;
    height: 76px;
    background-size: contain;
  }
}
.liveNotStart {
  i {
    background-image: url(../../../sdkAssets/Room_live_notstart@2x.png);
  }
}
.noOneStreaming {
  i {
    background-image: url(../../../sdkAssets/Room_nobody_stream@2x.png);
  }
}
