@import "../../../../../var.scss";
.penTools {
  position: absolute;
  top: vw(-119px);
  right: vw(105px);
  z-index: 110;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: vw(400px);
  padding: vw(30px);
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: vw(12px);
  box-shadow: 0px vw(4px) vw(16px) 0px rgba(0, 0, 0, 0.04);
  div {
    margin: 0;
    padding: 0;
  }

  .penTools_bold,
  .penTools_color {
    width: 100%;
    height: auto;
    color: #666666;
    font-weight: 400;
    font-size: vw(24px);
    line-height: vw(34px);
    ul {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: vw(10px);

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(32px);
        height: vw(32px);
        i {
          display: inline-block;
          background: #dedede;
          border-radius: 50%;
        }
      }
    }
  }
  .penTools_bold {
    ul {
      margin-left: vw(-8px);
      li {
        i {
          &.selected {
            background: #0055ff;
          }
        }
      }
      li:nth-child(1) {
        margin-right: vw(18px);
      }
      li:nth-child(2) {
        margin-right: vw(22px);
      }
      li:nth-child(3) {
        margin-right: vw(26px);
      }
    }
  }
  .penTools_color {
    margin-top: vw(26px);
    ul {
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: vw(32px);
        height: vw(32px);
        margin-right: vw(28px);
        margin-bottom: vw(16px);
        border-radius: 50%;
        &.selected {
          background-image: url(../../../../../sdkAssets/icon_tools_font_color_selected@2x.png);
          background-position: center;
          background-size: contain;
        }
      }
      li:first-child {
        width: vw(32px);
        height: vw(32px);
        border: vw(4px) solid #dedede;
        &.selected {
          background-image: url(../../../../../sdkAssets/icon_tools_font_color_selected@3x.png);
          background-position: center;
          background-size: contain;
        }
      }
      li:nth-child(6n + 6) {
        margin-right: 0px;
      }
    }
  }
}
