.textTools {
  position: absolute;
  top: 33.5%;
  right: 61px;
  z-index: 110;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  div {
    margin: 0;
    padding: 0;
  }

  .textTools_font,
  .textTools_size,
  .textTools_color {
    width: 100%;
    height: auto;
    color: #666666;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 17px;
    ul {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f7fa;
        i {
          display: inline-block;
          background: #dedede;
          border-radius: 50%;
        }
      }
    }
  }
  .textTools_font {
    li {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border-radius: 6px;
      &.selected {
        color: #ffffff;
        background-color: #0055ff;
      }
    }
  }
  .textTools_size {
    margin-top: 16px;
    li {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      color: #2a2a2a;
      font-weight: 400;
      line-height: 16px;
      border-radius: 6px;
      &.selected {
        color: #ffffff;
        background-color: #0055ff;
      }
    }
  }
  .textTools_color {
    margin-top: 16px;
    ul {
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        margin-right: 14px;
        margin-bottom: 8px;

        border-radius: 50%;
        &.selected {
          background-image: url(../../../../../sdkAssets/icon_tools_font_color_selected@2x.png);
          background-position: center;
          background-size: contain;
        }
      }
      li:first-child {
        border: 2px solid #dedede;
      }
      li:nth-child(6n + 6) {
        margin-right: 0px;
      }
    }
  }
}
