@import "../../../../../var.scss";
.textTools {
  position: absolute;
  top: vw(-204px);
  right: vw(90px);
  z-index: 110;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: vw(400px);
  padding: vw(30px) vw(30px) vw(14px) vw(30px);
  background-color: #ffffff !important;
  border: vw(2px) solid #f2f2f2;
  border-radius: vw(12px);
  box-shadow: 0px vw(4px) vw(16px) 0px rgba(0, 0, 0, 0.04);
  div {
    margin: 0;
    padding: 0;
  }
  .textTools_font,
  .textTools_size,
  .textTools_color {
    width: 100%;
    height: auto;
    color: #666666;
    font-weight: 400;
    font-size: vw(24px) !important;
    line-height: vw(34px);
    ul {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: vw(16px);
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f7fa;
        i {
          display: inline-block;
          background: #dedede;
          border-radius: 50%;
        }
      }
    }
  }
  .textTools_font {
    li {
      width: vw(48px);
      height: vw(48px);
      margin-right: vw(20px);
      background-position: center;
      background-size: contain;
      border-radius: vw(12px);
    }
    li:first-child {
      background-color: #f5f7fa;
      background-image: url(../../../../../sdkAssets/text_bold_gray@2x.png);
      &.selected {
        background-color: #0055ff;
        background-image: url(../../../../../sdkAssets/text_bold_white@2x.png);
      }
    }
    li:last-child {
      background-color: #f5f7fa;
      background-image: url(../../../../../sdkAssets/text_xieti_gray@2x.png);
      &.selected {
        background-color: #0055ff;
        background-image: url(../../../../../sdkAssets/text_xieti_white@2x.png);
      }
    }
  }
  .textTools_size {
    margin-top: vw(32px);
    li {
      width: vw(48px);
      height: vw(48px);
      margin-right: vw(20px);
      color: #2a2a2a;
      font-weight: 400;
      line-height: vw(32px);
      border-radius: vw(12px);
      &.selected {
        color: #ffffff;
        background-color: #0055ff;
      }
    }
  }
  .textTools_color {
    margin-top: vw(32px);
    ul {
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        width: vw(32px);
        height: vw(32px);
        margin-right: vw(28px);
        margin-bottom: vw(16px);

        border-radius: 50%;
        &.selected {
          background-image: url(../../../../../sdkAssets/icon_tools_font_color_selected@2x.png);
          background-position: center;
          background-size: contain;
        }
      }
      li:first-child {
        border: vw(4px) solid #dedede;
        &.selected {
          background-image: url(../../../../../sdkAssets/icon_tools_font_color_selected@3x.png);
          background-position: center;
          background-size: contain;
        }
      }
      li:nth-child(6n + 6) {
        margin-right: 0px;
      }
    }
  }
}
@media screen and (orientation: landscape) {
  .textTools {
    top: vw(-480px);
    right: vw(-168px);
  }
}
