@import "../../../var.scss";
.video {
  position: relative;
  &:fullscreen {
    //播放按钮
    video::-webkit-media-controls-play-button {
      display: none;
    }
    &::-webkit-media-controls-timeline {
      display: none;
    }
    //观看的当前时间
    &::-webkit-media-controls-current-time-display {
      display: none;
    }
    //剩余时间
    &::-webkit-media-controls-time-remaining-display {
      display: none;
    }
    //音量按钮
    &::-webkit-media-controls-mute-button {
      display: none;
    }
    &::-webkit-media-controls-toggle-closed-captions-button {
      display: none;
    }
    //音量的控制条
    &::-webkit-media-controls-volume-slider {
      display: none;
    }
  }
}
.videoPlayBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #2a2a2a, $alpha: 0.6);
  cursor: pointer;
  &::after {
    width: 80px;
    height: 80px;
    background: url("../../../sdkAssets/icon_play@2x.png") no-repeat
      center/cover;
    border-radius: 50%;
    content: "";
  }
  &.mobile {
    &::after {
      width: vw(128px);
      height: vw(128px);
      background: url("../../../sdkAssets/icon_play@2x.png") no-repeat
        center/cover;
      border-radius: 50%;
      content: "";
    }
  }
}
.mirror {
  transform: rotateY(180deg);
}
