.ZegoBrowserCheckNotSupport {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba($color: #2a2a2a, $alpha: 0.5);
  .content {
    width: 302px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(79, 79, 83, 0.2);
    border-radius: 4px;
    padding: 26px;
  }
  .tipsHeader {
    font-size: 16px;
    font-weight: 600;
    color: #2a2a2a;
    line-height: 16px;
    margin-bottom: 18px;
  }
  .tipsText {
    font-size: 14px;
    font-weight: 400;
    color: #2a2a2a;
    line-height: 20px;
  }
}

.ZegoBrowserCheckSupport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .videoScree {
    width: 55%;
    height: 80%;
    position: relative;
    .settings {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 99;
    }
    .video {
      width: 100%;
      height: 100%;
    }
    .handler {
      position: absolute;
      bottom: 15px;
      display: flex;
      width: 100%;
      justify-content: center;
      a {
        margin-right: 30px;
      }
    }
  }
  .joinScreen {
    width: 35%;
    height: 80%;
    flex-direction: column;
    display: flex;
    .title {
      font-size: 14px;
      font-weight: 500;
    }
    .userName {
      width: 80%;
      height: 45px;
    }
    .joinRoom {
      width: 80%;
      height: 45px;
    }
    .inviteLink {
      width: 80%;
      height: 45px;
    }
  }
}
