.sidebarWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.bigVideo {
  flex: 1 1 auto;
}
.rightWrapper {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-content: space-between;
  width: 15.5%;
  min-width: 124px;
  height: 100%;
  margin-left: 10px;

  & > div {
    position: relative;
    width: 100%;
    min-width: 124px;
    min-height: 124px;
    background: #242736;
    border-radius: 14px;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
    background: #242736;
    border-radius: 14px;
  }
}
.fiveRow {
  & > div {
    height: calc((100% - 40px) / 5);
  }
}
.fourRow {
  & > div {
    height: calc((100% - 30px) / 4);
  }
}
.threeRow {
  & > div {
    height: calc((100% - 20px) / 3);
  }
}
.twoRow {
  & > div {
    height: calc((100% - 10px) / 2);
  }
}
.oneRow {
  & > div {
    height: 100%;
  }
}

// screenSharing layout
.bigVideoWrapper {
  position: relative;
  flex: 1 1 auto;
  .screenVideo {
    width: 100%;
    height: 100%;
  }
  .screenVideoLoading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #242736;
    border-radius: 14px;
    i {
      width: 76px;
      height: 76px;
      margin-bottom: 6px;
      background: url("../../../../sdkAssets/icon_screen_tip.png") no-repeat
        center/cover;
    }
    p {
      color: #ffffff;
      font-weight: 500;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }
  }
}
.fullScreenBtn {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 15;
  width: 32px;
  height: 32px;
  background: url("../../../../sdkAssets/icon_inner_full_screen_open.png")
      no-repeat center,
    rgba($color: #000000, $alpha: 0.5);
  background-size: 24px 24px, cover;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    p {
      display: block;
    }
  }
  &.expend {
    background: url("../../../../sdkAssets/icon_inner_full_screen.png")
        no-repeat center,
      rgba($color: #000000, $alpha: 0.5);
    background-size: 24px 24px, cover;
  }
  & > p {
    position: absolute;
    top: 42px;
    right: 0;
    display: none;
    padding: 8px 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 6px;
    &::before {
      position: absolute;
      top: -12px;
      right: 10px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid rgba($color: #000000, $alpha: 0.5);
      border-left: 6px solid transparent;
      content: "";
    }
  }
}
.screenTipWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 98px;
  padding: 0 30px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  border-radius: 0px 0px 14px 14px;
  p {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  div {
    flex: 0 1 auto;
    margin-left: 30px;
    padding: 8px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: 22px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    cursor: pointer;
  }
}
