.whiteboardWrapper {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 14px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 25px 0 30px;
    background: #ffffff;
    border-radius: 14px 14px 0 0;
    .toolLeft {
      display: flex;
      align-items: center;
      justify-content: center;
      .undo,
      .redo,
      .zoom,
      .page {
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        margin-right: 20px;
        padding: 7px;
        background: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
        border-radius: 6px;
      }
      .undo {
        margin-right: 16px;
        background-image: url(../../../../sdkAssets/icon_undo_gray@2x.png);
        &:hover {
          background: #f5f7fa;
          background-image: url(../../../../sdkAssets/icon_undo_blue@2x.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          border-radius: 6px;
          cursor: pointer;
        }
      }

      .redo {
        background-image: url(../../../../sdkAssets/icon_redo_gray@2x.png);
        &:hover {
          background: #f5f7fa;
          background-image: url(../../../../sdkAssets/icon_redo_blue@2x.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          border-radius: 6px;
          cursor: pointer;
        }
      }
      .zoom {
        width: 122px;
      }
      .page {
        width: 128px;
      }
      .zoom,
      .page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 34px;
        padding: 5px 6px;
        background: #ffffff;
        border: 1px solid #dedede;
        border-radius: 6px;
        i {
          width: 24px;
          height: 24px;
          background: #ffffff;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          border-radius: 6px;
        }
        .zoom_sub {
          background-image: url(../../../../sdkAssets/icon_reduce_gray@2x.png);
          &:hover {
            background: #f5f7fa;
            background-image: url(../../../../sdkAssets/icon_reduce_blue@2x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            border-radius: 6px;
            cursor: pointer;
          }
        }
        .zoom_add {
          background-image: url(../../../../sdkAssets/icon_add_gray@2x.png);
          &:hover {
            background: #f5f7fa;
            background-image: url(../../../../sdkAssets/icon_add_blue@2x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            border-radius: 6px;
            cursor: pointer;
          }
        }
        .page_sub {
          background-image: url(../../../../sdkAssets/icon_left_gray@2x.png);
          &:hover {
            background: #f5f7fa;
            background-image: url(../../../../sdkAssets/icon_left_blue@2x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            border-radius: 6px;
            cursor: pointer;
          }
        }
        .page_add {
          background-image: url(../../../../sdkAssets/icon_right_gray@2x.png);
          &:hover {
            background: #f5f7fa;
            background-image: url(../../../../sdkAssets/icon_right_blue@2x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            border-radius: 6px;
            cursor: pointer;
          }
        }
        span {
          color: #2a2a2a;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
        .page_value,
        .page_value_total {
          width: 24px;
          height: 24px;
          text-align: center;
        }
        .page_value {
          background: #f5f7fa;
          border-radius: 6px;
        }
        .page_value_total {
          color: #666666;
        }
      }
    }
    .stop {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 146px;
      height: 34px;
      color: #ff4a50;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      background: #ffffff;
      border: 1px solid #ff4a50;
      border-radius: 6px;
      &:hover {
        color: #ffffff;
        background: #ff4a50;
        // background-color: rgb(69, 42, 239);
        // border: 1px solid #ffffff;
        cursor: pointer;
      }
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    pre {
      padding-right: 5px;
      line-height: 2;
    }
    .contentRight {
      flex: 1;
      background: #f2f2f2;
      border-radius: 6px;
    }
  }
}
