.memberListWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 4px;
  .member {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 12px;
    border-radius: 8px;

    &.haveMenu:hover {
      background: rgba($color: #303341, $alpha: 0.7);
      //   .memberMenuWrapper {
      //     display: block;
      //   }
      .memberStatusWrapper {
        display: none;
      }
      .selfStatusWrapper {
        display: flex;
      }
    }
    &.haveMenu {
      &.showMenu {
        .memberMenuWrapper {
          top: 40px;
          right: 5px;
          bottom: unset;
          visibility: visible;
        }
      }
      &.bottomMenu {
        .memberMenuWrapper {
          top: unset !important;
          bottom: 40px !important;
        }
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
    &.memberMenuShow {
      background: rgba($color: #303341, $alpha: 0.8);
      .memberMenuWrapper {
        display: block;
      }
    }
  }
  .memberNameWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 206px;
    overflow: hidden;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    & > span {
      flex: 0 0 auto;
      width: 36px;
      height: 36px;
      margin-right: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }
    & > img {
      position: absolute;
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
    }
    & > p {
      box-sizing: border-box;
      width: max-width;
      max-width: 120px;
      padding-right: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .memberGuestNameWrapper {
    & > p {
      max-width: 160px;
    }
  }
  .selfStatusWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 18px;
    margin-left: 76px;
    color: #fff;
    background: rgba($color: #0055ff, $alpha: 0.9);
    border-radius: 4px;
    span {
      width: 3px;
      height: 3px;
      margin-left: 2px;
      background: rgba($color: #fff, $alpha: 0.9);
      border-radius: 50%;
    }
  }
  .memberStatusWrapper {
    display: flex;
    align-items: center;
    margin-left: 2px;
    span {
      width: 22px;
      height: 22px;
      margin-left: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .memberMicIcon {
      position: relative;
      background-image: url("../../../../sdkAssets/icon_member_mic_off@2x.png");
      & > span {
        position: absolute;
        bottom: 10px;
        left: -4px;
        width: 6px;
        height: 5px;
        background: #a6a7ad;
        border-radius: 4px;
      }
    }
    .memberMicIconOpen {
      background-image: url("../../../../sdkAssets/icon_member_mic@2x.png");
    }
    .memberCameraIcon {
      background-image: url("../../../../sdkAssets/icon_member_camera_off@2x.png");
    }
    .memberCameraIconOpen {
      background-image: url("../../../../sdkAssets/icon_member_camera@2x.png");
    }
    .memberPinIcon {
      background-image: url("../../../../sdkAssets/icon_member_pin@2x.png");
    }
    .memberPinIconOpen {
      background-image: url("../../../../sdkAssets/icon_member_pin_on@2x.png");
    }
  }
  .memberMenuWrapper {
    position: absolute;
    right: -400px;
    bottom: 40px;
    z-index: 10;
    box-sizing: border-box;
    width: max-content;
    min-width: 133px;
    max-width: 200px;
    padding: 8px 6px;
    background: #2c2f3e;
    border: 1px solid #3d4054;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 0px rgba(23, 24, 33, 0.75);
    visibility: hidden;
    .memberMenuItem {
      padding: 7px 8px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: #36394b;
      }
    }
  }
}
