@import "../../../../var.scss";
.roomDetails {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 202;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 27vh;
  background: #242736;
  border-radius: vw(46px) vw(46px) 0px 0px;
  .inviteHeader {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: vw(15px) vw(23px) vw(29px) vw(23px);
    color: #ffffff;
    font-weight: 400;
    font-size: vw(36px);
    // font-family: PingFangSC-Regular, PingFang SC;
    line-height: vw(50px);
    .inviteHide {
      width: vw(70px);
      height: vw(70px);
      margin-right: vw(16px);
      background-image: url(../../../../sdkMobileAssets/Room_member_hide@2x.png);
      background-size: contain;
    }
  }

  .inviteLinkWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    .title {
      margin-bottom: 8px;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    .inviteLink {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 308px;
      height: 44px;
      padding: 12px;
      overflow: hidden;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: rgba(48, 51, 65, 1);
      border: 0;
      border-radius: 10px;
      outline: none;
      opacity: 0.7;
      input {
        width: 77%;
        color: #ffffff;
        background: #303341;
        border: 0;
        outline: none;
      }
    }
    .copyLinkButton {
      display: flex;
      align-items: center;
      color: #ffb763;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      &::before {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        background: url("../../../../sdkAssets/icon_inner_copy.png") no-repeat
          center/cover;
        content: "";
      }
    }
  }

  // .inviteURL {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   box-sizing: border-box;
  //   width: 92vw;
  //   height: vw(128px);
  //   padding: vw(16px) vw(28px);
  //   color: #a4a4a4;
  //   font-weight: 400;
  //   font-size: vw(30px);
  //   // font-family: PingFangSC-Regular, PingFang SC;
  //   line-height: vw(42px);
  //   word-break: break-all;
  //   background: rgba(48, 51, 65, 0.7);
  //   border-radius: vw(12px);
  // }
  // .inviteCopy {
  //   display: flex;
  //   flex: 1;
  //   align-items: center;
  //   justify-content: center;
  //   i {
  //     display: inline-block;
  //     width: vw(44px);
  //     height: vw(44px);
  //     background-image: url(../../../../sdkMobileAssets/Room_details_conpy@2x.png);
  //     background-size: contain;
  //     border: 0px;
  //   }
  //   span {
  //     margin-left: vw(10px);
  //     color: #ffb763;
  //     font-weight: 500;
  //     font-size: vw(30px);
  //     //   font-family: PingFangSC-Medium, PingFang SC;
  //     line-height: vw(42px);
  //   }
  // }
}
