@import "../../../../var.scss";

@keyframes myRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes myRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(42, 42, 42, 0.6);
  .loading {
    box-sizing: border-box;
    width: vw(112px);
    height: vw(112px);
    background-image: url(../../../../sdkMobileAssets/reconnect_loading@2x.png);
    background-size: contain;
    -webkit-animation: myRotate 1s linear infinite;
    animation: myRotate 1s linear infinite; /*Safari and Chrome*/
  }
  p {
    margin-top: vw(24px);
    color: #ffffff;
    font-weight: 600;
    font-size: vw(32px);
    font-family: PingFangSC-Semibold, PingFang SC;
    line-height: vw(45px);
  }
}
