@import "../../../../var.scss";
.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: vw(10px);
  overflow: hidden;
  background: #171821;
  .bottomWrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 24.66vw);
    .noVideoWrapper .nameWrapper .nameCircle {
      width: vw(160px);
      height: vw(160px);
      font-size: vw(46px);
      line-height: vw(65px);
    }
    .screenLoadingWrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: #1e2130;
      span {
        width: vw(90px);
        height: vw(90px);
        margin-bottom: vw(10px);
        background: url("../../../../sdkMobileAssets/icon_screen_room@2x.png")
          no-repeat center/cover;
      }
      p {
        color: #ffffff;
        font-weight: 500;
        font-size: vw(32px);
        line-height: vw(45px);
        text-align: center;
      }
    }
  }
  .upWrapper {
    display: flex;
    justify-content: center;
    height: vw(175px);
    margin-bottom: vw(10px);
    & > div {
      position: relative;
      display: flex;
      width: vw(175px);
      height: 100%;
      overflow: hidden;
      background: #242736;
      border-radius: vw(14px);
      &:not(:first-of-type) {
        margin-left: vw(10px);
      }
    }
  }
}
