@import "../../../../var.scss";
.memberList {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 202;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: vw(1236px);
  background: #242736;
  border-radius: vw(46px) vw(46px) 0px 0px;
  .memberListHeader {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: vw(15px) vw(23px) vw(13px) vw(23px);
    color: #ffffff;
    font-weight: 400;
    font-size: vw(36px);
    box-shadow: 0px 1px 0px 0px rgba(61, 64, 84, 1);
    .memberHide {
      width: vw(70px);
      height: vw(70px);
      margin-right: 11px;
      background-image: url(../../../../sdkMobileAssets/Room_member_hide@2x.png);
      background-size: contain;
    }
  }
  .memberListContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    div {
      display: flex;
      align-items: center;
      margin-top: vw(46px);
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(56px);
        height: vw(56px);
        margin-right: vw(24px);
        margin-left: vw(30px);
        color: #557bff;
        font-weight: 600;
        font-size: vw(24px);
        font-family: PingFangSC-Semibold, PingFang SC;
        background: rgba(216, 216, 216, 1);
        border-radius: vw(28px);
      }
      a {
        color: #ffffff;
        font-weight: 500;
        font-size: vw(32px);
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: vw(45px);
        max-width: vw(300px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
