@import "../../../../var.scss";
.more {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 104;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: vw(46px);
  height: vw(32px);
  padding: vw(13px) vw(7px);
  background: rgba(42, 42, 42, 1);
  border: 0;
  div {
    width: vw(6px);
    height: vw(6px);
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }
}
