@import "../../../../var.scss";
.memberList {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 202;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  background: #242736;
  border-radius: vw(46px) vw(46px) 0px 0px;
  .memberListHeader {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: vw(15px) vw(23px) vw(13px) vw(23px);
    color: #ffffff;
    font-weight: 400;
    font-size: vw(36px);
    box-shadow: 0px 1px 0px 0px rgba(61, 64, 84, 1);
    .memberHide {
      width: vw(70px);
      height: vw(70px);
      margin-right: 11px;
      background-image: url(../../../../sdkMobileAssets/Room_member_hide@2x.png);
      background-size: contain;
    }
  }
  .memberListContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    .member {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100vw;
      margin-top: vw(48px);
      padding-right: vw(34px);
      padding-left: vw(36px);
      .memberName {
        display: flex;
        align-items: center;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: vw(72px);
          height: vw(72px);
          margin-right: vw(24px);
          color: #557bff;
          font-weight: 600;
          font-size: vw(24px);
          font-style: normal;
          background: rgba(255, 255, 255, 0.1);
          border-radius: vw(36px);
        }
        a {
          max-width: vw(300px);
          overflow: hidden;
          color: #ffffff;
          font-weight: 500;
          font-size: vw(32px);
          line-height: vw(45px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .memberHandlers {
        i {
          display: inline-block;
          width: vw(44px);
          height: vw(44px);
          margin-left: vw(24px);
          font-style: normal;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .memberCameraMute {
          background-image: url(../../../../sdkMobileAssets/Room_member_camera_mute@2x.png);
        }
        .memberCameraOpen {
          background-image: url(../../../../sdkMobileAssets/Room_member_camera_open@2x.png);
        }

        .memberMicMute {
          background-image: url(../../../../sdkMobileAssets/Room_member_mic_mute@2x.png);
        }
        .memberMicOpen {
          background-image: url(../../../../sdkMobileAssets/Room_member_mic_open@2x.png);
        }

        .memberUnPin {
          background-image: url(../../../../sdkMobileAssets/Room_pin_mute@2x.png);
        }
        .memberPined {
          background-image: url(../../../../sdkMobileAssets/Room_pin@2x.png);
        }
      }
    }
  }
}
