@import "./var.scss";
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f5f6f9;
  .nav {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding: 14px 20px;
    background: #edf0f3;
    background-color: rgba(0, 0, 0, 0);
    .LOGO {
      width: 182px;
      height: 37px;
      background-image: url(./assets/logo_zegocloud@2x.png);
      background-size: contain;
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .link_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      padding: 6px 10px;
      color: #666666;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      span {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      &:hover {
        color: #0055ff;
        .icon__doc {
          background-image: url("./assets/icon_doc_hover.png");
        }
        .icon__github {
          background-image: url("./assets/icon_github_hover.png");
        }
      }
    }
    .icon__doc {
      background: url("./assets/icon_doc.png") no-repeat center/cover;
    }
    .icon__github {
      background: url("./assets/icon_github.png") no-repeat center/cover;
    }
  }
  .myMeeting {
    flex: 1 0 auto;
    width: 100%;
    // height: calc(100vh - 64px);
  }
  .serviceTips {
    position: fixed;
    position: absolute;
    bottom: 10px;
    left: 50%;
    flex: 0 0 auto;
    width: 100%;
    color: #ababb5;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transform: translateX(-50%);
    a {
      color: #0055ff;
      text-decoration: none;
    }
  }
  .pcServiceTips {
    position: relative;
    margin-top: -20px;
  }
}

.mobileApp {
  overflow-x: hidden;
  background: #ffffff;
  .mobileNav {
    // position: absolute;
    z-index: 102;
    height: vw(108px);
    padding: vw(27px) vw(30px);
    background: #ffffff;

    .mobileLOGO {
      width: vw(248px);
      height: vw(54px);
      background-image: url(./assets/App_logo@2x.png);
      background-size: contain;
    }
    .mobileLink {
      a {
        margin: 0;
        padding: 0px;
      }
      a:first-child {
        margin-right: vw(40px);
      }
      span {
        width: vw(50px);
        height: vw(50px);
        margin-right: 0;
      }
    }
  }
  .mobileMeeting {
    // flex: 0;
    margin-top: vw(78px);
  }
  .mobileServiceTips {
    position: relative;
    z-index: 101;
    flex: 1;
    box-sizing: border-box;
    padding: vw(94px) vw(146px) vw(12px) vw(146px);
    color: #ababb5;
    // font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    font-size: vw(24px);
    line-height: vw(33px);
    white-space: nowrap;
    background-color: #ffffff;
  }
}
