@import "../../../var.scss";
.ZegoBrowserCheckSupport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: vw(186px) 0 auto 0;
  background-color: #ffffff;
  .videoScree {
    position: relative;
    justify-content: center;
    padding: 0 vw(127px);
    .video {
      background-color: #2a2a2a;
      width: vw(496px);
      height: vw(660px);
    }
    .handler {
      position: absolute;
      bottom: vw(21px);
      left: 50%;
      display: flex;
      transform: 50%;
      transform: translate(-50%);
      a {
        display: block;
        width: vw(87.85px);
        height: vw(88px);
        border: vw(2px) solid #ffffff;
        border-radius: vw(88px);
      }
      .micOpen {
        margin-right: vw(46px);
        background: url(../../../sdkMobileAssets/mic_open@2x.png);
        background-size: contain;
      }
      .micClose {
        margin-right: vw(46px);
        background: url(../../../sdkMobileAssets/mic_close@2x.png);
        background-size: contain;
      }
      .cameraOpen {
        background: url(../../../sdkMobileAssets/camera_open@2x.png);
        background-size: contain;
      }
      .cameraClose {
        background: url(../../../sdkMobileAssets/camera_close@2x.png);
        background-size: contain;
      }
    }
  }
  .joinScreen {
    display: flex;
    flex-direction: column;
    margin-top: vw(86px);
    .joinRoom {
      display: flex;
      flex-direction: row;
      padding: 0 vw(90px);
      input {
        box-sizing: border-box;
        width: vw(440px);
        height: vw(94px);
        padding: vw(25px) vw(30px);
        color: #ababb5;
        font-weight: 500;
        font-size: vw(32px);
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: vw(45px);
        border: vw(2px) solid #333333;
        border-radius: vw(18px);
        outline: none;
        &:focus {
          color: #2a2a2a;
          border: vw(2px) solid #0055ff;
        }
      }
      button {
        width: vw(104px);
        height: vw(94px);
        margin-left: vw(26px);
        color: #ffffff;
        font-weight: 500;
        font-size: vw(32px);
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: vw(45px);
        background: rgba(0, 85, 255, 0.3);
        border: 0;
        border-radius: vw(18px);
      }
      .active {
        background: rgba(0, 85, 255, 1);
      }
      label {
        position: absolute;
        left: vw(120px);
        height: 7px;
        padding: 0 5px;
        color: #0055ff;
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 0px;
        background: #ffffff;
      }
    }

    .inviteLink {
      display: flex;
      align-items: center;
      margin: vw(50px) vw(65px);
      padding: vw(27px) vw(22px) vw(26px) vw(36px);
      background: #f5f7fa;
      border-radius: 9px;
      input {
        flex: 1;
        width: vw(460px);
        height: 23px;
        color: #666666;
        font-weight: 500;
        font-size: 17px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 23px;
        background-color: #ffffff00;
        border: 0;
        outline: none;
      }
      button {
        width: 30px;
        height: 30px;
        margin-left: 13px;
        background: #f5f7fa;
        background-image: url(../../../sdkMobileAssets/icon_conpy@2x.png);
        background-size: contain;
        border: 0;
        border-radius: 9px;
      }
      .copied {
        background-image: url(../../../sdkMobileAssets/icon_copied@2x.png);
      }
    }
  }
}
