.ZegoBrowserCheckSupport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 120px 0 113px 0;
  background-color: #ffffff;
  .videoScree {
    position: relative;
    justify-content: center;
    padding: 0 66px;

    .video {
      width: 100%;
      height: 100%;
    }
    .handler {
      position: absolute;
      bottom: 11px;
      left: 50%;
      display: flex;
      transform: 50%;
      transform: translate(-50%);
      a {
        display: block;
        width: 46px;
        height: 46px;
        margin-right: 24px;
        border: 1px solid #ffffff;
        border-radius: 23px;
      }
      .micOpen {
        background: url(../../../sdkAssets/mic_open@2x.png);
        background-size: contain;
      }
      .micClose {
        background: url(../../../sdkAssets/mic_close@2x.png);
        background-size: contain;
      }
      .cameraOpen {
        background: url(../../../sdkAssets/camera_open@2x.png);
        background-size: contain;
      }
      .cameraClose {
        background: url(../../../sdkAssets/camera_close@2x.png);
        background-size: contain;
      }
    }
  }
  .joinScreen {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    .joinRoom {
      display: flex;
      flex-direction: row;
      padding: 0 47px;
      input {
        width: 197px;
        height: 24px;
        padding: 13px 16px 12px 16px;
        color: #ababb5;
        font-weight: 500;
        font-size: 17px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 23px;
        border: 1px solid #333333;
        border-radius: 9px;
        outline: none;
        &::before {
          content: "Your Name";
        }
        &:focus {
          border: 1px solid #0055ff;
        }
      }
      button {
        width: 54px;
        height: 49px;
        margin-left: 14px;
        color: #ffffff;
        font-weight: 500;
        font-size: 17px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 23px;
        background: rgba(0, 85, 255, 0.3);
        border: 0;
        border-radius: 9px;
      }
      .active {
        background: rgba(0, 85, 255, 1);
      }
      label {
        position: absolute;
        left: 64px;
        width: 68px;
        height: 7px;
        color: #0055ff;
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 0px;
        background: #ffffff;
      }
    }

    .inviteLink {
      display: flex;
      align-items: center;
      margin: 32px 47px 0 47px;
      padding: 13px 10px 12px 17px;
      background: #f5f7fa;
      border-radius: 9px;
      input {
        flex: 1;
        height: 23px;
        color: #666666;
        font-weight: 500;
        font-size: 17px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 23px;
        background-color: #ffffff00;
        border: 0;
        outline: none;
      }
      button {
        width: 30px;
        height: 30px;
        margin-left: 13px;
        background: #f5f7fa;
        background-image: url(../../../sdkAssets/icon_conpy@2x.png);
        background-size: contain;
        border: 0;
        border-radius: 9px;
      }
      .copied {
        background-image: url(../../../sdkAssets/icon_copied@2x.png);
      }
    }
  }
}
